body {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 80px;
  background-image: linear-gradient(to right, #684192, #635DF8);
  font-family: 'Roboto', Arial;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: #fff;
  }
}

.top-buffer {
  margin-top: 20px;
}

:root {
    --progress-bg-color: rgba(255,255,255,0.3);
    --progress-fg-color: #fff;
}

.CircularProgress-Bg,
.CircularProgress-Fg, .CircularProgress-Fg-red,
.CircularProgress-Fg-orange, .CircularProgress-Fg-green, .CircularProgress-Fg-lightGreen {
    fill: none;
}

.CircularProgress-Bg {
    stroke: var(--progress-bg-color);
}

.CircularProgress-Fg-red {
    stroke: #E7274B;
}

.CircularProgress-Fg-orange {
    stroke: #F8D065;
}

.CircularProgress-Fg-green {
    stroke: #03D496;
}

.CircularProgress-Fg-lightGreen {
    stroke: #7CC142;
}

.CircularProgress-Text {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    fill: var(--progress-fg-color);
    transform: translate(0 50%);
}

.movieDetailsOverlay .CircularProgress-Text {
    font-size: 64px;
}
