body {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  background-image: linear-gradient(to right, #684192, #635DF8);
  font-family: 'Roboto', Arial;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: #fff;
  font-weight: bold;
  text-decoration: none; }
  a:hover {
    color: #fff; }

.topBuffer {
  margin-top: 20px; }

:root {
  --progress-bg-color: rgba(255, 255, 255, 0.3);
  --progress-fg-color: #fff; }

.circularProgressBg,
.circularProgressFg, .circularProgressFgRed,
.circularProgressFgOrange, .circularProgressFgGreen, .circularProgressFgLightGreen {
  fill: none; }

.circularProgressBg {
  stroke: var(--progress-bg-color); }

.circularProgressFgRed {
  stroke: #E7274B; }

.circularProgressFgOrange {
  stroke: #F8D065; }

.circularProgressFgGreen {
  stroke: #03D496; }

.circularProgressFgLightGreen {
  stroke: #7CC142; }

.circularProgressText {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  fill: var(--progress-fg-color);
  transform: translate(0 50%); }

.movieDetailsOverlay .circularProgressText {
  font-size: 64px; }
